body{
    margin: 0px;
    padding: 0px;
    background: url(gym.jpg);
    background-size: 100% ;
}
header{
    display: flex;
    justify-content: space-between;
    background-color:#131212a8;
    margin: 0px;
}
.header, .main, .contact{
    color:white;
    display: block;

}
.header img{
    height: 100px;
    filter: grayscale(100%);   
    margin:2px 0px 0px 10px 
}
ul{
list-style-type: none;
display: flex;
}
li{
    padding:15px;
    font-size: 25px;
    font-weight: 800;
}
li:hover{
    color:yellow;
    font-size: 30px;
}
.btn{
    padding: 10px;
    margin:15px;
    border:2px solid grey;
    border-radius: 10px;
    background-color: black;
    color:wheat;
    font-size: 20px;
}
.form {
border: 2px solid white;
margin: 106px 80px;
padding: 75px;
width: 33%;
border-radius: 28px;
}

.form-group input {
font-family: 'Baloo Bhai', cursive;
text-align: center;
display: block;
width: 508px;
padding: 1px;
border: 2px solid black;
margin: 11px auto;
font-size: 25px;
border-radius: 8px;
}

.form h1 {
text-align: center;
color:wheat
}

.form button {
display: block;
width: 74%;
margin: 20px auto;
}
@media  screen and (min-width:460px) {
    body{
    margin: 0px;
    padding: 0px;
    background: url(gym.jpg);
    background-size:100%;
    background-repeat:var();
}

}
@media  screen and (min-width:230px) and (max-width:730px){
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color:#131212a8;
    margin: 0px;
}
.form-group input {

width: 258px;
padding: 1px;
border: 2px solid black;
margin: 11px 0px 0px -20px;
font-size: 25px;
border-radius: 8px;
}
.form {
border: 2px solid white;
margin: 106px 80px;
padding: 75px;
width: 55%;
border-radius: 28px;
}

}